/*===== Fonts =====*/
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
/*===== End =====*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
}
.heading{
    font-family: 'Lobster Two', cursive;
}
h2{
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    letter-spacing: 0.2rem;
    line-height: 50px;
}
img{
    width: 100%;
}
.container{
    width: 1500px;
    margin: 0 auto;
}
.gradient-btn {
    padding: 19px 35px;
    color: white;
    background: linear-gradient(82deg, #ff1061, #ff6230);
    border: none;
    border-radius: 26px;
    letter-spacing: 1px;
}

/*========== Hero Section ==========*/
#hero-section {
    background: linear-gradient(#000000c7, #0000008c), url(images/bg-img/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 946px;
}
.menu-side{
    overflow: hidden;
}
.menu-side .logo-area{
    padding: 70px 0 70px;
}
.menu-side .logo-area .logo-txt {
    font-family: Festive, cursive;
    font-size: 80px;
    color: white;
    text-shadow: rgb(255 255 255 / 81%) 0px 0px 6px;
    display: block;
    text-align: center;
}
.menu-side .menu-area{
    padding: 16px 400px 16px 630px;
    margin: auto;
    border-top: 1px solid rgba(161, 161, 161, 0.3);
    border-bottom: 1px solid rgba(161, 161, 161, 0.3);
    border-right: 0px;
    border-left: 0px;
}
.menu-side .menu-area .menu-list{
    list-style: none;
    text-align: center;
    overflow: hidden;
}
.menu-side .menu-area .menu-list li{
    float: left;
    line-height: 20px;
    padding: 0 28px;
    position: relative;
}
.menu-side .menu-area .menu-list li a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.568);
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.menu-side .menu-area .menu-list li .actv{
    color: white;
}
.menu-side .menu-area .menu-list li a span{
    background: white;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.span-1 {
    position: absolute;
    top: 8px;
    left: 105px;
}
.span-2 {
    position: absolute;
    top: 8px;
    left: 148px;
}
.span-3 {
    position: absolute;
    top: 8px;
    left: 127px;
}
.span-4 {
    position: absolute;
    top: 8px;
    left: 103px;
}
.hero-side{
    overflow: hidden;
}
.hero-content{
    float: left;
    width: 50%;
    padding-top: 158px;
}
.hero-content h1{
    font-size: 55px;
    line-height: 85px;
    letter-spacing: 0.5rem;
    padding-left: 30px;
}
.hero-content h1 span{
    color: #ff873b;
}
.hero-content p{
    padding: 30px 80px 30px 32px;
    font-size: 16px;
    letter-spacing: 0.1rem;
}
.hero-content button {
    margin-left: 32px;
}
.hero-image{
    float: right;
    width: 50%;
}
.hero-image img {
    padding: 40px;
    width: 650px;
}
/*========== End ==========*/

/*========== About Section==========*/
#about-section{
    background: linear-gradient(rgb(0 0 0 / 80%), rgb(0 0 0 / 80%)),url(images/bg-img/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    background-attachment: fixed;
}
#about-section .container{
    overflow: hidden;
}
.about-img{
    float: left;
    width: 50%;
}
.about-img img{
    padding-top: 4px;
    margin-left: 10px;
    background: #00000012;
    width: 400px;
    border-radius: 10%;
}
.about-content{
    float: right;
    width: 50%;
    margin: 120px 0px 0 0;
}
.about-content h2{
    color: #ffb603;
}
.about-content p{
    padding: 40px 0 70px;
    margin-right: 90px;
    text-align: justify;
}
/* .about-content button{
    
} */

/*========== End ==========*/

/*========== Recipes Section ==========*/

#recipes-section{
    padding: 80px 0;
    color: black;
}
.recipes-header{
    text-align: center;
}
.recipes-header h2{
    color: #292929;
}
.recipes-header p{
    padding: 30px 400px 50px;
}
.cardBox{
    overflow: hidden;
    padding: 30px;
    margin-bottom: 80px;
}
.recipes-card {
    width: 350px;
    box-shadow: rgb(0 0 0 / 11%) 0px 6px 30px 2px;
    border-width: 15px 15px 32px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 24px;
    float: left;
}
.first-card{
    margin-left: 50px;
}
.middle-card{
    margin: 0 100px;
}
.last-card{
    margin-right: 50px;
}
.card-img img{
    width: 350px;
    margin: auto;
    display: block;
}
.card-cntn{
    padding: 25px 0 0 0;
}
.card-cntn h3 {
    font-size: 26px;
    font-family: 'Lobster Two';
    letter-spacing: 1px;
}
.card-cntn p{
    font-size: 14px;
    margin-top: 14px;
    line-height: 20px;
}
.counter-box{
    width: 1350px;
    margin: auto;
}
.main-box{
    padding: 20px 30px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 6px #0000001a;
    border-radius: 20px;
}
.single-box {
    width: 400px;
    text-align: center;
    padding: 40px 0;
    float: left;
}
.single-box h3 {
    font-family: 'Raleway';
    font-size: 45px;
    padding-bottom: 25px;
}
.single-box p {
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 65px;
}

/*========== End ==========*/

/*========== Blog Section ==========*/

#blog-section{
    background: #f5f5f5;
    padding: 70px 0;
    color: black;
}
.blog-header{
    text-align: center;
}
.blog-header h2{
    color: #292929;
    margin-top: 10px;
}
.blog-header p{
    padding: 30px 400px 50px;
}
.blog-box{
    overflow: hidden;
}
.singleb-box{
    float: left;
    width: 50%;
}
.singleb-box img{
    width: 80%;
    margin-left: 76px;
}
.singleb-box .blog-info {
    text-align: center;
    margin: 0 74px 0 74px;
    background: white;
    padding: 20px 26px 20px 26px;
    margin-top: -8px;
}
.singleb-box .blog-info .date {
    text-align: right;
    display: block;
    padding: 0px 0 8px;
    color: #ff7b00;
    font-weight: bold;
}
.singleb-box .blog-info h4{
    font-size: 26px;
    text-align: left;
    padding-bottom: 22px;
    font-family: 'Raleway';
}
.singleb-box .blog-info p{
    text-align: left;
    padding-left: 0;
    font-size: 15px;
    padding-bottom: 10px;
    letter-spacing: 0px;
    line-height: 18px;
}
.blog-btn {
    display: block;
    margin: 50px auto 0px;
    box-shadow: rgb(0 0 0 / 16%) 3px 6px 11px 0px;
}
/*========== End ==========*/

/*========== Contact Section ==========*/
#contact-section{
    color: black;
    overflow: hidden;
}
.contact-info {
    background: linear-gradient(
255deg
, #de004a, #140f42);
    padding: 80px 0px 0px 420px;
    width: 27.93%;
    height: 430px;
    float: left;
    color: wheat;
}
.contact-header{

}
.infoBoxs {
    width: 290px;
    margin-top: 75px;
}
.sg-infoBoxs{
    overflow: hidden;
    margin-top: 50px;
}
.sg-infoBoxs  img{
    width: 12%;
    float: left;
}
.sg-infoBoxs  .ct-info{
    width: 81%;
    float: right;
    line-height: 18px;
    margin-top: -2px;
}
.sg-infoBoxs  .ct-info span{
    display: block;
    font-weight: bold;
}
.map{
    width: 50%;
    float: right;
    margin-bottom: -9px;
}
/*========== End ==========*/

/*========== Footer Section ==========*/
#footer-section{
    padding: 60px 0;
    background: rgb(0, 0, 20);
    text-align: center;
}
#footer-section h4{
    font-family: Festive, cursive;
    font-size: 40px;
    letter-spacing: 2px;
}
#footer-section h4 span{
    color: #FE863B;
}
#footer-section p{
    font-family: 'Raleway';
    margin-top: 30px;
}
/*========== End ==========*/